
.sideData {
    position: absolute;
    width: 350px;
    padding-left: 100px;
    height: 100vh;
    right: 15px;
    top: 50px;
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(2,0,36,0.014740930551908282) 0%, rgba(56,56,66,0.7374300061821604) 31%, rgba(48,54,55,0.7721638997395833) 100%);
}
.vertical-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #ffffff6b;
	
}

.vertical-menu h4 {
    font-family: roboto;
    font-size: 16px;
    line-height: 15px;
    color: #fdd0ff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vertical-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
}

.vertical-menu .container{
    padding: 0px;
}

.vertical-menu p{
    color: rgb(250, 231, 1);
    font-family: roboto;
    margin-bottom: 5px;
}

#markers{
    position: absolute;
    display: inline-flex;
    top: 8px;  
    left: 190px;
}

.footer .copyright {
    float: none;
    padding: 0px; 
}

.card .card-body {
    padding: 0px !important;
}

.leftWrapper{
    position: absolute;
    width: 300px;
    padding-left: 30px;
    height: 100vh;
    right: 15px;
    top: 50px;
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(48,54,55,0.7721638997395833) 100%,rgba(56,56,66,0.7374300061821604) 31%, rgba(2,0,36,0.014740930551908282) 0%, );

}

.rightWrapper{
    position: absolute;
    width: 300px;
    padding-right: 30px;
    height: 100vh;
    left: 15px;
    top: 50px;
    background: rgb(2,0,36); 
    background: linear-gradient(90deg, rgba(2,0,36,0.014740930551908282) 0%, rgba(56,56,66,0.7374300061821604) 31%, rgba(48,54,55,0.7721638997395833) 100%);

}


.card {  
    margin-bottom: 0px !important;
}

.margin-0 {margin:0px !important; }

.footer {
    padding: 0px !important;
    text-align: center !important;
}


.card .card-header {
    padding: 15px  !important;
   
}

#markers ul{
    margin:0px 10px;
}

.backButton {
    background: snow;
    padding: 10px;
    border: 1px solid #ddd;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    left: 50%;
    cursor: pointer;
}

.backButton:hover{
    width:45px;
    padding: 10px 0px 10px 12px;
    background: #fdd0ff;
    box-shadow: rgba(10,10,10,10);
}
